<%= simple_form_for @tinta do |f|  %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :codigo %>
    <%= f.input :pantone %>
    <%= f.association :malla %>
    <%= f.association :producto %>
    <%= f.input :tipo_de_unidad %>
    <%= f.input :cantida %>
    <%= f.input :estado %>
    
  </div>

  <%=f.fields_for :formula_tintas do |formulas_for_form|%>
  
     <%= render 'formula_tinta_fields', f:formulas_for_form%>
     
  <%end%>

  <div class="form-actions">
    <div class="add_fields">
    <%= link_to_add_fields "add_fields ", f, :formula_tintas  %>
    </div>
    <%= f.button :submit %>
    
  </div>
<% end %>
